* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 20, 32);
}

.main-container {
    width: 800px;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-container {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: brown;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: calc(800px / 8);
    height: calc(800px / 8);
    border: 2px solid white;
}

.green {
    background-color: green;
}